@import '../../css/variables';

@media (min-width: 550px) {
    .searchField-input {
        width: 80%;
        height: 2.5rem;
        position: relative;
        top: 24rem;
        left: 5rem;
        border-radius: 23px;
        border: none;
        padding: 0 2rem;
        cursor: pointer;
    }
    
    .searchField-input:focus {
        outline: none;
        border: 1px solid $primaryColor;
    }
}

@media (max-width: 550px) {
    .searchField-input {
        width: 70%;
        height: 2.5rem;
        position: relative;
        top: 7rem;
        left: 1rem;
        border-radius: 23px;
        border: none;
        padding: 0 2rem;
    }
    
}